:root {
  --headerFont: "Raleway", Arial, Helvetica, sans-serif;
  --bodyFont: "Open Sans", Arial, Helvetica, sans-serif;
  --backgroundBlue: hsl(217, 28%, 15%);
  --mainBlue: hsl(218, 28%, 13%);
  --alternateBlue: hsl(219, 30%, 18%);
  --footerBlue: hsl(216, 53%, 9%);
  --cyan: hsl(176, 68%, 64%);
  --accentBlue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
}

body {
  background: var(--backgroundBlue);
  font-family: var(--bodyFont);
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
}

.headerSection {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
}

.navSection {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  color: var(--white);
}

.navLink {
  color: var(--white);
  text-decoration: none;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 300;
}

.mainSection {
  margin: 0 auto;
  max-width: 1440px;
}

.mainHeader {
  font-family: var(--headerFont);
  font-size: 2.5rem;
  margin: 10px 0;
  font-weight: 700;
}

.callToActionHeader {
  font-family: var(--headerFont);
  font-weight: 400;
}

.bodyText {
  font-family: var(--bodyFont);
  font-weight: 700;
}

.bodyAltText {
  font-family: var(--bodyFont);
  font-weight: 400;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introParagraph {
  font-size: 1.1rem;
  margin: 4px 0;
  font-weight: 400;
}

.introButton {
  background: var(--cyan);
  border: 1px solid var(--cyan);
  font-size: 1rem;
  font-weight: 700;
  margin: 20px;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
}

.whiteText {
  color: var(--white);
}
